<script setup>
import PreviewProduct from '../shop/PreviewProduct.vue';
import Message from '../Message.vue';
import { computed } from "vue";
import { useCartStore } from '../../stores/cart';
const cartStore = useCartStore();
const myShop = computed(() => {
    return cartStore.myShop
})
const total = computed(() => {
    return cartStore.total
})
</script>
<template>
    <div class="shop__right">
        <div class="shop__cart">
            <h3>Cart</h3>
            <div class="shop__cart__box">
                <div v-if="!myShop.length > 0" class="shop__emptyCart">
                    <img src="../../assets/images/empty-cart.png" alt="">
                    <p>Empty Cart</p>
                </div>
                <div v-else id="shopCart">
                    <PreviewProduct v-for="product of myShop" :key="product.id" :product="product" />
                </div>
                <div class="shop__cart__bottom">
                    <p class="totalPrice" id="totalPrice"><span>$</span><span class="price">{{ total }}</span></p>
                    <button id="createOrder" class="btn" @click="cartStore.generateOrder" :disabled="!cartStore.isProducts">
                        create order
                    </button>
                </div>
            </div>
        </div>
    </div>
    <Message  :class="{ active: cartStore.isValid}"  :message="cartStore.message"/>
</template>