<script setup>
    defineProps(['product'])
</script>
<template>
    <div class="shop__cart__row">
        <div>{{ product.name }}</div>
        <div>{{ product.qty }}</div>
        <div>{{ product.unit_price }}</div>
        <div>{{ product.totalProduct }}</div>
    </div>
</template>