<script setup>
const productp = defineProps(['product', 'addToCart'])
let qty = null
</script>
<template>
    <article class="product">
        <div class="product__thumbnail">
            <img src="../../assets/images/product.jpeg" alt="">
        </div>
        <div class="product__body">
            <div class="product__body__actions">
                <input type="number" name="qty" v-model="qty">
                <button class="btn"
                    @click="productp.addToCart(productp.product,qty)">Add
                    to cart</button>
            </div>
        </div>
    </article>
</template>
