<script setup>
import Product from './Product.vue';
import { onMounted, computed } from "vue";
import { useProductsStore } from '../../stores/products'
import { useCartStore } from '../../stores/cart'
const store = useProductsStore();
const cartStore = useCartStore();
const products = computed(() => {
    return store.products
})
onMounted(() => {
    store.fetchProducts()
})
</script>
<template>
    <div id="shopProducts" class="shop__products">
        <Product v-for="product in products" :key="product.id" :product="product" :addToCart="cartStore.addtoCart" />
    </div>
</template>