<script setup>
    import Cart from './Cart.vue';
    import Products from './Products.vue';
</script>
<template>
    <div class="shop">
        <div class="container">
            <Products/>
            <Cart/>
        </div>
    </div>
</template>