<script setup>
    import { ref } from 'vue';
    import { useCartStore } from '../stores/cart';
    defineProps(['message']);
    const modal = ref(null)
    const store = useCartStore()
    const closeMessage = () => {
        store.isValid = false
    }
</script>
<template>
    <div ref="modal" class="message">
        <div class="message__close" @click="closeMessage()">
            x
        </div>
        <div class="message__body">
            <p>
                {{ message }}
            </p>
        </div>
    </div>
</template>