@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body,
* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Generals */
:root {
    --yellow: #FFFBEB;
    --navy: #495579;
    --indigo: #263159;
    --russian: #251749;
}

.container {
    width: 100%;
    max-width: clamp(360px, 80%, 1400px);
    margin: 0 auto;
}

.btn {
    font-weight: 600;
    font-size: 1.125rem;
    background-color: var(--indigo);
    color: var(--yellow);
    padding: 0.625rem;
    cursor: pointer;
}
.btn:disabled{
    cursor: not-allowed;
}
