@import './base.css';

/* Header and Footer */

.header,
.footer {
    background-color: var(--russian);
    height: 6.25rem;
}

.header .container,
.footer .container {
    height: 100%;
    display: grid;
    place-items: center;
}

.header p,
.footer p {
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--yellow);
}

/* Shop */

.shop {
    width: 100%;
    min-height: calc(100vh - 12.5rem);
    display: flex;
    align-items: center;
}

.shop .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 3.125rem;
    padding: 3rem 0;
    transition: .3s all ease-out;
}

.shop .shop__products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.563rem;
    transition: .3s all ease-out;
}

.shop .shop__cart {
    border: 0.063rem solid var(--indigo);
}

.shop .shop__cart>h3 {
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--yellow);
    background-color: var(--russian);
    padding: 0.938rem;
}

.shop .shop__cart .shop__cart__box {
    padding: 0.938rem;
}
.shop .shop__cart .shop__cart__box .shop__cart__row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
}
.shop .shop__cart .shop__cart__box .shop__cart__row:not(:last-of-type){
    margin: 0 0 1rem;
}
.shop .shop__cart .shop__cart__box .shop__cart__row div:not(:first-child),
.shop .shop__cart .shop__cart__box .shop__cart__row div:not(:last-child){
    font-weight: 400;
    font-size: 1.125rem;
}
.shop .shop__cart .shop__cart__box .shop__cart__row div:first-child,
.shop .shop__cart .shop__cart__box .shop__cart__row div:last-child{
    font-weight: 700;
    font-size: 1.125rem;
}
.shop .shop__cart .shop__cart__box .shop__cart__row div:last-child{
    text-align: right;
}
.shop .shop__cart .shop__cart__box .shop__emptyCart{
    display: grid;
    place-items: center;
}
.shop .shop__cart .shop__cart__box .shop__emptyCart img{
    width: 6.25rem;
    height: auto;
}
.shop .shop__cart .shop__cart__box .shop__emptyCart p{
    font-weight: 600;
    margin: 1rem 0 0;
    font-size: 1.125rem;
}

.shop .shop__cart .shop__cart__box .shop__cart__bottom{
    margin: 1rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shop .shop__cart .shop__cart__box .shop__cart__bottom p span{
    font-weight: 700;
    font-size: 1.25rem;
}

.isProducts .shop .shop__cart .shop__cart__box .shop__emptyCart {
    display: none;
}


/* Product */

.product .product__thumbnail {
    width: 100%;
    height: 18.75rem;
    overflow: hidden;
    transition: .3s all ease-out;
}

.product .product__thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product .product__body {
    border: 0.031rem solid var(--navy);
}

.product .product__body .product__body__actions {
    display: flex;
    flex-flow: row nowrap;
}

.product .product__body .product__body__actions input {
    display: block;
    width: 15%;
    -moz-appearance: textfield;
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
}

.product .product__body .product__body__actions input::-webkit-outer-spin-button,
.product .product__body .product__body__actions input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product .product__body .product__body__actions button {
    display: block;
    width: 85%;
}


/* Message */

.message{
    width: 31.25rem;
    height: 15.625rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    background-color: var(--russian);
    padding: 1.875rem;
    display: none;
    place-items: center;
    border-radius: 1rem;
    transition: .3s all ease-out;
}
.message.active{
    display: grid;
}
.message .message__close{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 50%;
    border: 0.063rem solid var(--yellow);
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--yellow);
    display: grid;
    place-items: center;
    cursor: pointer;
}
.message p{
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--yellow);
    text-align: center;
}


/* Media Queries */
@media only screen and (max-width: 1550px){
    .shop .container{
        grid-template-columns: 2fr 2fr;
    }
    .product .product__thumbnail{
        height: 13.125rem;
    }
}
@media only screen and (max-width: 1024px){
    .shop .container{
        grid-template-columns: 1fr;
    }
    .product .product__thumbnail {
        height: 18.75rem;
    }
    .shop .shop__cart .shop__cart__box .shop__cart__row div:not(:first-child), 
    .shop .shop__cart .shop__cart__box .shop__cart__row div:not(:last-child){
        text-align: center;
    } 
    .shop .shop__cart .shop__cart__box .shop__cart__row div:first-child{
        text-align: left;
    }
    .shop .shop__cart .shop__cart__box .shop__cart__row div:last-child{
        text-align: right;
    }
}
@media only screen and (max-width: 660px){
    .shop .shop__products{
        grid-template-columns: repeat(1, 1fr);
    }
    .message{
        width: 80%;
        height: 12.5rem;
    }
} 