<script setup>
  import Header from './components/Header.vue';
  import Footer from './components/Footer.vue';
  import Shop from './components/shop/Shop.vue';
</script>
<template>
  <Header/>
  <main>
    <Shop/>
  </main>
  <Footer/>
</template>
